/*! Додайте стилізацію ваших єлементів тут */

body {
    background-color: #fffbda;
}

.title {
    text-align: center;
    line-height: 4em;
    color: #003f00;
}

.title-main {
    text-align: center;
    line-height: 4em;
    color: darkred;
}

.list {
    margin-left: 4em;;
}